<div class="content-wrapper">
    <!--START CONTENT HEADER -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Products</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Products</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!--END CONTENT HEADER -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div *ngFor="let tempProduct of products" class="col-md-3">
            <div class="card" style="width: 18rem">
                <img src="{{ tempProduct.image }}" width="150" height="200" class="rounded float-start" />
              <div class="card-body">
                <h5 class="card-title">
                  <a routerLink="/products/{{tempProduct.id}}">
                    {{ tempProduct.name }}
                  </a>
                </h5>
                <p class="card-text">{{ tempProduct.unitPrice }} TND</p>
                <div>
                  <button type="button"  [routerLink]="['/products',tempProduct.id]" class="btn btn-primary">Details</button>
                <button class="btn btn-success" [routerLink]="['/update-product',tempProduct.id]" >Edit</button>
                <button type="button"  (click)="deleteProduct(tempProduct)" class="btn btn-danger">Delete</button>
              </div>
                <div class="input-group input-group-sm mt-2">
                  <input #myInput
                    [(ngModel)]='type'
                    class="form-control form-control-navbar"
                    type="text"
                    placeholder="quantity ..."
                    aria-label="Search" />
                  <div class="input-group-append">
                  <button (click)="cartResolved(tempProduct,myInput.value)" class="btn btn-success" >Add To Cart</button>
                  </div>
                  <div *ngIf="quantitySuff(tempProduct,myInput.value)"
                    class="alert alert-danger col-md-12 mt-2 "
                    role="alert">
                    <p><span style="font-weight: bold"> IN STOCK :</span> {{tempProduct.unitStock}} !! </p> 
                  </div>
                  
                </div>
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- if products empty then display a message -->
          <div
            *ngIf="products?.length == 0"
            class="alert alert-warning col-md-12"
            role="alert"
          >
            No products found .
          </div>
        </div>
      </div>
    </section>
  </div>
  