<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Checkout</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Ckeckout</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!-- /.container-fluid -->
  <section class="content">
    <div class="container-fluid">
      <div class="row mt-4">
        <div class="col-md-2"></div>  
        <div class="col-md-4">
          <div class="card card-success align-content-center">
            <div class="card-header">
              <h3 class="card-title">
                Receipt <small>Check</small>
              </h3>
            </div>

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
              <div formGroupName="customer" class="card-body">
                <div class="form-group">
                  <label>First name</label>
                  <input
                    type="text"
                    formControlName="firstName"
                    class="form-control"
                    placeholder="Enter Your first name ... " />
                  <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhitespace">
                      First Name is required 
                    </div>
                    <div *ngIf="firstName.errors.minlength">
                      First Name must be at least 2 characters long 
                    </div>
                  </div>
                </div>
              
                <div  class="form-group">
                  <label for="lastName">Last name</label>
                  <input
                      type="text"
                      formControlName="lastName"
                      class="form-control"
                      placeholder="Enter Your last name ... "
                    />
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">
                      <div *ngIf="lastName.errors.required || lastName.errors.notOnlyWhitespace">
                        Last Name is required 
                      </div>
                      <div *ngIf="lastName.errors.minlength">
                        Last Name must be at least 2 characters long 
                      </div>
                    </div>
                </div>
                <div  class="form-group">
                  <label for="phoneNumber">Phone number</label>
                  <input
                      type="text"
                      formControlName="phoneNumber"
                      class="form-control"
                      placeholder="Enter the phone number ... "
                  />
                  <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="phoneNumber.errors.required || phoneNumber.errors.notOnlyWhitespace">
                      Phone Number is required 
                    </div>
                    <div *ngIf="phoneNumber.errors.pattern">
                      must be 8 number Long 
                    </div>
                  </div>
                </div>
                <div  class="form-group">
                  <label for="company">Company</label>
                  <input
                      type="text"
                      formControlName="company"
                      class="form-control"
                      placeholder="Enter the company name ..."
                  />
                  <div *ngIf="company.invalid && (company.dirty || company.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="company.errors.required || company.errors.notOnlyWhitespace">
                      company is required 
                    </div>
                    <div *ngIf="company.errors.minlength">
                      company Name must be at least 2 characters long 
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-success">
                    Generate invoice
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="position-relative p-3 bg-dark" style="height: 120px; width:230px ">
            <div class="ribbon-wrapper">
              <div class="ribbon bg-success">
                DETAILS
              </div>
            </div>
            <span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold;"> Total Quantity : {{totalQuantity}} </span> <br />
            <span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold;">Total Price : {{totalPrice}} TND </span><br />
            
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
